{
    email mateusznizwantowski@gmail.com
    acme_dns duckdns {
        api_token 35505b20-a4a2-4715-9581-31cab4951236
    }
}

*.zandm.duckdns.org {
    tls {
        dns duckdns
        resolvers 1.1.1.1 8.8.8.8
        propagation_delay 120s
    }

    map {host} {
        pihole.zandm.duckdns.org    192.168.0.21:8880
        netflox.zandm.duckdns.org   192.168.0.21:8096
        speedtest.zandm.duckdns.org 192.168.0.21:8080
        dozzle.zandm.duckdns.org    192.168.0.21:8766
        sonarr.zandm.duckdns.org    192.168.0.21:8989
        radarr.zandm.duckdns.org    192.168.0.21:7878
        qbit.zandm.duckdns.org      192.168.0.21:2137
        jackett.zandm.duckdns.org   192.168.0.21:9117
    }

    handle {
        @known host {map}
        handle @known {
            reverse_proxy {map}
        }

        handle {
            respond "Unknown subdomain" 404
        }
    }
}
